<html>
    <body>
        <script language="javascript">
            {% module Template('scene-embed.js', scene=scene, editable=True) %}
        </script>
        <script language="javascript" src="{{static_url('js/scene-edit.js')}}"></script>
        <table id="info">
            <tr>
                <td class="label"><label for="title">Title</label></td>
                <td><input type="text" name="title" id="title" /></td>
            </tr>
            <tr>
                <td class="label"><label for="description">Description</label></td>
                <td><textarea name="description" id="description"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><button id="save-button" disabled="">Saved</button></td>
            </tr>
        </table>
        Embed code: <input type="text" id="embed-code" />
        <!--<button>Copy to clipboard</button>-->
        <p class="notice">The term 'Etsy' is a trademark of Etsy, Inc. This application uses the Etsy API but is not endorsed or certified by Etsy, Inc.</p>
    </body>
</html>
