body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

canvas {
    float: left;
}

.etscene-container {
    float: left;
}

.liveSearch {
    z-index: 3;
    padding-left: 0;
}

.liveSearch-results {
    position: absolute;
    overflow: auto;
    border: 1px solid grey;
    cursor: default;
    padding: 0;
    margin: 0;
    z-index: 6;
}

.liveSearch-results.boxed {
    cursor: pointer;
}

.liveSearch-results li {
    float: left;
    clear: left;
    padding: 5px;
    width: 300px;
    overflow: hidden;
    background-color: white;
}

.liveSearch-results li.liveSearch-selected {
    background-color: blue;
    color: white;
    cursor: default;
}

.liveSearch-results li.liveSearch-selected div span {
    color: white;
}

.liveSearch-results li div span {
    font-family: Arial;
}

.liveSearch-results li div .title {
    font-size: 12px;
    white-space: nowrap;
}

.liveSearch-results.boxed li:hover div .title,
.liveSearch-results.boxed li:hover div .description {
    text-decoration: underline;
}

.liveSearch-results li div .description {
    display: block;
    font-size: 10px;
    height: 26px;
    overflow: hidden;
    color: #666;
}

.liveSearch-results li div .shop {
    float: left;
    font-size: 11px;
    color: #b2b2b2;
}

.liveSearch-results li div .price,
.liveSearch-results li div .currency {
    float: right;
    font-size: 11px;
    color: #78c042;
}

.liveSearch-results li div .currency {
    padding-left: 2px;
    font-size: 9px;
}

.liveSearch-results li div .main-image {
    float: left;
    padding-right: 5px;
}

.liveSearch-results li div .icon {
    float: left;
    padding: 2px 1px 0 2px;
}

.liveSearch-results li div .icon#cart {
    padding-right: 3px;
}

.liveSearch-entry {
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.liveSearch-entry.loading {
    background-image: url('/static/img/loading.gif');
}

#info td.label {
    vertical-align: top;
}

#embed-code {
    width: 330px;
    padding: 0 2px;
    margin-left:5px;
    height: 16px;
    border: 1px solid #CCC;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 11px;
    color: #666;
}

.notice {
    color: #666;
    font-size: 11px;
}
